In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
import time
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import minmax_scale

# Setting plot style
plt.style.use('ggplot')

In [32]:
df_user = pd.read_csv("bruker.csv")
df_movie = pd.read_csv("film.csv")
df_rating = pd.read_csv("rangering.csv")

In [33]:
df_user.rename(columns={"BrukerID":"UserID", "Alder": "Age", "Kjonn":"Gender", "Jobb":"Occupation", "Postkode":"PostalCode" }, inplace=True)
df_user.head()

   UserID Gender  Age  Occupation  PostalCode
0       0      F   45           6       92103
1       1      M   50          16  55405-2546
2       2      M   18          20       44089
3       3      M   35           1       33304
4       4      M   35           6       48105

In [34]:
df_movie.head()

,FilmID,Tittel,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,Autumn in New York (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1,1,"Vie est belle, La (Life is Rosey) (1987)",0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2,Defying Gravity (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,3,Ruthless People (1986),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4,Portraits Chinois (1996),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [35]:
df_rating.rename(columns={"BrukerID" : "UserID", "Rangering" : "Ratings", "Tidstempel" : "TimeStamp"}, inplace=True)
df_rating.head()

   UserID  FilmID  Ratings  TimeStamp
0       0    1561        4  959441640
1       0    1540        3  959441640
2       0      88        3  959441640
3       0     620        4  959441640
4       0    3771        5  959442113

In [41]:
df_rating.shape

(900117, 4)

In [44]:
df_rating["FilmID"].value_counts()

3202    3075
1528    2710
2886    2683
1704    2593
2588    2401
        ...
3199       1
2090       1
3099       1
3623       1
1038       1
Name: FilmID, Length: 3694, dtype: int64

In [48]:
df_movie["Tittel"].value_counts

<bound method IndexOpsMixin.value_counts of 0                      Autumn in New York (2000)
1       Vie est belle, La (Life is Rosey) (1987)
2                         Defying Gravity (1997)
3                         Ruthless People (1986)
4                       Portraits Chinois (1996)
                          ...
3878                           Cat People (1982)
3879                Saltmen of Tibet, The (1997)
3880                 Bride of Re-Animator (1990)
3881                            True Lies (1994)
3882                           Prom Night (1980)
Name: Tittel, Length: 3883, dtype: object>

In [37]:
content_df = pd.merge(df_user, df_rating,df_movie,  on="UserID")
content_df.head()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().